@font-face {
  font-family: 'YouYuan';
  src: url('YouYuan.eot'); /* IE9 Compat Modes */
  src: url('YouYuan.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('YouYuan.woff2') format('woff2'), /* Super Modern Browsers */
       url('YouYuan.woff') format('woff'), /* Pretty Modern Browsers */
       url('YouYuan.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('YouYuan.svg#svgFontName') format('svg'); /* Legacy iOS */

